.ProblemEntry {
  display: inline-grid;
  grid-column-gap: 5px;
  grid-template-columns: [col1-start] 100px [col1-col2] 300px repeat(3,150px [col3-start]);
  justify-items: start;
  align-items:center;
}
.listTitle{
  align-self: flex-start;
}
.listFavor{
  justify-self: center;
}
.ant-progress-outer {
 width: 70%;
}