#topLineContainer {
  display: inline-grid;
  grid-column-gap: 5px;
  grid-template-columns: [col1-start] 53px [col1-col2] 300px repeat(5,158px [col3-start]);
  justify-items: start;
  align-items:baseline;
}