/* #SearchContainer{


}
.ant-input-group .ant-input {
  float: left;
  width: 100%;
  margin-bottom: 0;
  text-align: inherit;
} */
.ant-input-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;


}